/M19COM/Week3/workshop/NetbeansApplication/nbproject/private/
/M19COM/Week3/workshop/NetbeansApplication/build/
/M19COM/Week3/workshop/NetbeansApplication/dist/
/M19COM/Assignment/Code/M19COM-Assignment1/nbproject/private/
/M19COM/Assignment/Code/M19COM-Assignment1/build/
/M19COM/Assignment/Code/M19COM-Assignment1/dist/
/M30CDE/Lab5/BookStore_1_1/build/
/M19COM/Assignment/Code/M19COM-Assignment1/dist/

*.vpp*
M19COM/Assignment/Assignment2/ChrisRollings_2486071_AbubakarAlAmeenIsmat*
M19COM/Assignment/Assignment2/Design Diagrams/GeneratedCode/
groupH_M32COM